@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(
    45deg,
    hsl(231deg 100% 29%) 0%,
    hsl(297deg 100% 25%) 42%,
    hsl(327deg 100% 33%) 68%,
    hsl(343deg 100% 37%) 83%,
    hsl(0deg 91% 40%) 100%
  );
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
